.tin-noi-bat{
	/*border: 1px solid #ccc;*/
	/*padding: 20px;*/
	display: flex;
	justify-content: space-between;
	margin-left: -15px;
	margin-right: -15px;
}
.tin-noi-bat > div{
	width: 50%;
	padding: 0px 15px;
}
.tin-noi-bat .first-item .thumb{
	/*margin-bottom: 15px;*/
	width: 100%;
}
.tin-noi-bat .first-item a{
	color: #000;
}
.tin-noi-bat .first-item h5{
	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
	font-weight: 500;
}
.tin-noi-bat .first-item .content{
	padding: 36px 25px;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 10%);
    position: relative;
}
.tin-noi-bat .first-item .content .meta{
	font-size: 13px;
	color: #888;
	margin-bottom: 10px;
}
.tin-noi-bat .first-item .content .des{
	font-size: 16px;
	line-height: 24px;
	color: #000;
}
.tin-noi-bat .first-item .content .des a{
	color: #000;
}
.tin-noi-bat .first-item .content .readmore{
	display: flex;
	justify-content: flex-end;
}
.tin-noi-bat .second-item{
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
}
.tin-noi-bat .second-item:last-item{
	margin-bottom: 0px;
}
.tin-noi-bat .second-item > a{
	display: block;
	width: 45%;
}
.tin-noi-bat .second-item > a .thumb{
	width: 100%;
	height: 100%;
}
.tin-noi-bat .second-item > div.content{
	width: 55%;
	padding: 10px 20px;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 10%);
    position: relative;
}
.tin-noi-bat .second-item > div.content h5{
	font-size: 16px;
	font-weight: bold;
	font-weight: 500;
}
.tin-noi-bat .second-item > div.content a{
	color: #000;
}
.tin-noi-bat .second-item .content .meta{
	font-size: 13px;
	color: #888;
	margin-bottom: 10px;
}
.tin-noi-bat .second-item .content .des{
	font-size: 14px;
	line-height: 20px;
	color: #000;
}
.tin-noi-bat .second-item .content .des a{
	color: #000;
}
.tin-noi-bat .second-item .content .readmore{
	display: none;
}

.normal-item {
	display: flex;
	justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.normal-item > div:first-child{
	width: 40%;
}
.normal-item > div.box-img img{
	max-height: 200px;
}
.normal-item > div:nth-child(2){
	width: 60%;

}
.normal-item > div.content{
	padding-left: 15px;
}
.normal-item > div.content .title{
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	margin-bottom: 5px;
	font-weight: 500;
}
.normal-item > div.content a{
	color: #000;
}
.normal-item > div.content .date{
	color: #888;
	font-size: 13px;
}
.normal-item > div.content .description{
	text-align: justify;
}
.normal-item > div.content a.readmore{
	display: flex;
	justify-content: flex-end;
}
.category-header{
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	margin-top: 30px;
}
.pagination{
	margin-bottom: 20px;
}
.pagination .nav-links{
	display: flex;
	justify-content: space-between;
	align-items: center;
	float: left;
	padding-left: 0px;
}
body.category .pagination{
	float: left;
}
.pagination .nav-links > *{
	padding: 0px 25px;
}
.pagination .nav-links a{
	color: #000;
}
.pagination .nav-links .current{
	color: #D42029;
}
.pagination .nav-links .next {
    background-color: transparent !important;
    width: 48px;
    height: 48px;
    border: 1px solid #000;
    border-radius: 0px !important;
    transition: all 0.3s ease-in;
    align-items: center;
    display: flex;
    padding: 0px;
    margin-left: 25px;
    font-size: 0px;
    background-image: url('../images/icon-right.png');
    background-repeat: no-repeat;
    background-position: center;
}
.pagination .next img{
	display: block;
	margin: auto;
}
.pagination .next:hover {
    background-color: #e11b22 !important;
    border-color: #e11b22;
}
.pagination .prev:hover {
    background-color: #e11b22 !important;
    border-color: #e11b22;
}
.pagination .next:hover img{
	filter: invert(1);
}

.pagination .nav-links .prev {
    background-color: transparent !important;
    width: 48px;
    height: 48px;
    border: 1px solid #000;
    border-radius: 0px !important;
    transition: all 0.3s ease-in;
    align-items: center;
    display: flex;
    padding: 0px;
    font-size: 0px;
    background-image: url('../images/icon-prev.png');
    background-repeat: no-repeat;
    background-position: center;
}
.pagination .screen-reader-text{
	display: none !important;
}
@media screen and (max-width: 768px) {
	.category-header{
		margin-top: 0px;
		font-size: 20px;
	}
	.normal-item > div.content .title{
		font-size: 15px;
		line-height: 20px;
	}
	.normal-item{
		display: block;
	}
	.normal-item > div:first-child{
		width: 100%;
		margin-bottom: 10px;
	}
	.normal-item > div.content{
		width: 100%;
		padding-left: 0px;
	}
	.normal-item > div.content .description{
		font-size: 14px;
		line-height: 19px;
	}
	.normal-item > div.content .date{
		margin-bottom: 6px;
	}
	.normal-item > div.content a.readmore{
		font-size: 14px;
	}
	.tin-noi-bat{
		display: block;
	}
	.tin-noi-bat > div{
		width: 100%;
	}
	.tin-noi-bat .first-item .content{
		padding: 10px;
	}
	.tin-noi-bat .second-item{
		display: block;
	}
	.tin-noi-bat .second-item > a .thumb{
		display: none;
	}
	.tin-noi-bat .second-item > div.content{
		width: 100%;
		margin-top: 10px;
	}
}