.content-midde .content{
	display: flex;
	align-items: center;
	height: 100%;
}
.content-midde .content .title{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.content-midde .content .des{
	font-size: 15px;
	line-height: 20px;
	text-align: justify;
}
.content-midde .content .midde{
	width: 100%;
}
/*.section-banner{
	position: relative;
}
.section-banner .content{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	display: flex;
	align-items: center;
}
.section-banner .content{
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-banner .content > div p:nth-child(1) {
	font-size: 26px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 7px;
	color: #fff;
}
.section-banner .content > div p:nth-child(2){
	color: #fff;
	text-align: center;
	width: 100%;
	font-size: 20px;
	letter-spacing: 5px;
	margin-bottom: 0px;
}*/
.section-about{
	background-image: url('../images/gioithieu/bg1.jpg');
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: 47%;
	position: relative;
}
.section-about .container{
	padding-top: 93px;
	padding-bottom: 93px;
}
.section-about .content{
	display: flex;
	align-items: center;
	height: 100%;
}
.section-about .content .title{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.section-about .content .des{
    font-size: 16px;
    line-height: 24px;
}
.section-about .content .des span:nth-child(1) {
	display: block;
}
.section-about .content .des span:nth-child(2) {
	display: none;
}
.section-about .content .des.active span:nth-child(2) {
	display: block;
}
.section-about .content .des.active span:nth-child(1) {
	display: none;
}
.section-about .main-read-more{
	float: left;
	cursor: pointer;
}
.section-about .main-read-more span:nth-child(1) {
	display: inline-block;
}
.section-about .main-read-more span:nth-child(2) {
	display: none;
}
.section-about .main-read-more.active span:nth-child(2) {
	display: inline-block;
}
.section-about .main-read-more.active span:nth-child(1) {
	display: none;
}
.main-section{
	position: relative;
}
.main-section .overlay-title{
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size: 110px;
	line-height: 63px;
	opacity: 0.5;
}
.section-about .overlay-title{
	color: #f1f1f1;
}
.section-giatri{
	background-image: url('../images/gioithieu/bg2.jpg');
	padding-top: 120px;
	padding-bottom: 120px;
	background-size: cover;
}
.section-giatri .list-item{
	display: flex;
	justify-content: space-between;
	margin-left: -5px;
	margin-right: -5px;
}
.section-giatri .list-item .item{
	margin: 0px 5px;
}
.section-giatri .item .big-img{
	border-bottom: 8px solid #D42029;
	width: 100%;
}
.section-giatri .item{
	position: relative;
}
.section-giatri .item .content{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 10px;
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
}
.section-giatri .item:hover .content{
	display: flex;
	align-items: center;
}
.section-giatri .item .content {
	font-size: 14px;
	line-height: 19px;
	color: #fff;
}
.section-giatri .main-title{
	margin-bottom: 81px;
	font-size: 26px;
	line-height: 34px;
	font-weight: bold;
	letter-spacing: 3px;
}
.section-giatri .item .content .p1{
	display: flex;
	align-items: center;
}
.section-giatri .item .content .p1 img{
	padding-right: 17px;
}
.section-giatri .item .content .p2{
	
}
.section-giatri .overlay-title{
	color: #fff;
	opacity: 0.07;
}
.section-tamnhin .container .row{
	margin-bottom: 40px;
}
.section-tamnhin{
	padding-top: 118px;
	padding-bottom: 118px;
}
.section-tamnhin .content .p2{
	margin-top: 80px;
}
.section-tamnhin .list1{
	list-style-type: none;
	padding-left: 0px;
	margin-top: 48px;
}
.section-tamnhin .list1 li{
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.section-tamnhin .list1 li img{
	padding-right: 32px;
}
.section-tamnhin .list1 li:last-child{
	margin-bottom: 0px;
}
.section-tochuc{
	background-image: url('../images/gioithieu/bg3.jpg');
	background-size: cover;
	padding-top: 111px;
	padding-bottom: 138px;
}
.section-tochuc .main-title{
	margin-bottom: 56px;
}
.section-tochuc .des{
	margin-bottom: 98px;
}
.section-codong{
	padding-top: 95px;
	padding-bottom: 104px;
}
.section-codong .item .info{
	width: 235px;
	height: 71px;
	background-color: #f1f1f1;
	margin-left: 32px;
	margin-top: -32px;
	position: relative;
	z-index: 2;
	padding: 16px 16px;
	padding-top: 12px;
}
.section-codong .list{
	display: flex;
	justify-content: space-between;
}
.section-codong .list .item{
	width: 30%;
}
.section-codong .main-title{
	margin-bottom: 68px;
}
.section-banlanhdao{
	padding-top: 35px;
	padding-bottom: 128px;
}
.section-banlanhdao .list{
	display: flex;
	justify-content: space-between;
}
.section-banlanhdao .main-title{
	margin-bottom: 80px;
}
.section-banlanhdao .list .item{
	width: 15%;
}
.section-banlanhdao .list .item img{
	display: block;
	margin: auto;
	margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
	.section-about{
		background: none;
	}
	.content-midde .content{
		padding-left: 0px !important;
		display: block;
		margin-top: 10px;
	}
	.section-about .container{
		padding-top: 20px;
	}
	.section-giatri .list-item{
		flex-wrap: wrap;
	}
	.section-giatri .list-item .item{
		width: 48%;
		margin: 0px;
		margin-bottom: 15px;
	}
	.section-giatri .main-title{
		font-size: 22px;
		line-height: 30px;
		letter-spacing: 0px;
		margin-bottom: 30px;
	}
	.section-giatri{
		padding-top: 70px;
		padding-bottom: 40px;
	}
	.section-giatri .item .content .p2{
		font-size: 11px;
		line-height: 15px;
	}
	.section-giatri .item .content .p1{
		margin-bottom: 6px;
	}
}