.radio {
      display: block;
      position: relative;
      padding-left: 25px;
      margin-bottom: 12px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .radio input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .checkmark {
      position: absolute;
      top: 5px;
      left: 0;
      height: 15px;
      width: 15px;
      background-color: #eee;
      border-radius: 50%;
    }

    .radio:hover input ~ .checkmark {
      background-color: #ccc;
    }

    .radio input:checked ~ .checkmark {
      background-color: red;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    .radio input:checked ~ .checkmark:after {
      display: block;
    }

    .radio .checkmark:after {
        top: 5px;
        left: 5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: white;
    }
	.province {
      color: black !important;
	}
	.district {
      color: black !important;
	}
	.wards {
	  color: black !important;
	}
	.button {
    display: inline-block;
    position: relative;
    zoom: 1;
    min-height: 40px;
    padding: 10px 29px;
    line-height: 18px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #EE1B33;
    border: none;
    border-radius: 0;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

