.radio-td .custom-radio .custom-control-input:checked~.custom-control-label::before {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border-color: #183051 !important;
    border: 1px solid;
    background-color: #ffffff !important;
    left: 0.5px;
    top: 2px;
}

.radio-td .custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url(https://viettelpost.com.vn/wp-content/uploads/2024/12/radio-on.svg) !important;
    background-size: 100%;
    background-position: center;
    margin: 0;
    width: 23px;
    height: 23px;
    left: -1.5px;
    top: -0.5px;
}

.radio-td .custom-control-label::before {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border-color: #B5B4B8 !important;
    border: 1px solid;
    background-color: #ffffff !important;
    top: 2px;
}

.radio-td .custom-control-label {
    cursor: pointer;
}

.radio-td .invalid-feedback {
    margin-left: -23px;
}

.ct-quoc-te .select2-container {
    width: 100% !important;
}

.select2-container .select2-selection--single {
    height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    display: none;
}

.ct-quoc-te .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-style: none;
    /* Bỏ border */
    height: 15px;
    /* Chiều cao của mũi tên */
    left: 50%;
    margin-left: -15px;
    /* Điều chỉnh vị trí */
    margin-top: -2px;
    position: absolute;
    top: 37%;
    width: 21px;
    /* Chiều rộng của mũi tên */
    content: '';
    background-image: url(https://viettelpost.com.vn/wp-content/uploads/2025/01/cheveron-icon.svg);
    /* Hình ảnh icon */
    background-size: contain;
    /* Đảm bảo hình ảnh vừa với kích thước */
    background-repeat: no-repeat;
    /* Không lặp lại hình ảnh */
    background-position: center;
    /* Căn giữa hình ảnh */
}

/* 	tra cuu cuoc phi */
.uoctinh-tabs {
    display: flex;
    margin-bottom: 20px;
}

.uoctinh-tabs .tab-button {
    padding: 10px 20px !important;
    border: none;
    cursor: pointer;
    background-color: #f4f4f4 !important;
    color: #000 !important;
    font-weight: bold;
    width: 50% !important;
    text-align: center !important;
}

.uoctinh-tabs .tab-button::after {
    display: none !important;
}

.uoctinh-tabs .tab-button.active {
    background-color: #183051 !important;
    color: #fff !important;
}

.uoctinh-container .form-content {
    display: none;
}

.uoctinh-container .form-content.active {
    display: block;
}

.uoctinh-container {
    width: 100% !important;
    padding: 0 !important;
    padding-right: 0 !important;
}

#domestic-form .form-domestic {
    display: flex;
    justify-content: space-between;
}

#domestic-form .form-domestic img {
    width: 40%;
}