.wrap-content{
	padding: 30px 0px;
}
.PaneTop {
    height: auto;
    border: solid 1px #dedede;
    background-color: #f5f5f5;
    padding: 40px 40px;
}
.PaneTop .title{
    font-size: 18px;
    font-weight: normal;
    color: #444;
}
#multiTracking {
    overflow: auto;
    margin-top: 10px;
}
.PaneTopdiv1 {
    width: 66%;
    margin-top: 15px;
}
.PaneTopdiv2 {
    width: 66%;
    margin-top: 20px;
    align-items: center;
    display: flex;
}
.PaneTopdiv2  input[type="text"] {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 0px;
    background-color: #fff;
    padding-left: 10px;
}
#txtSearch {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 0px;
    background-color: #fff;
    padding-left: 10px;
    width: 100%;
}
.imgCaptcha {
    width: 100px;
    height: 40px;
}
#txtCaptcha {
    margin: 0 5px;
    max-width: 60%;
    width: auto;
}
.button-tracking {
    height: 40px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #E03;
    border: none;
    border-radius: 0;
    cursor: pointer;
    width: 100px;
    text-transform: uppercase;
    font-weight: 600;
}
.divbgtop {
    background: #f7f7f7;
    height: 66px;
}
.divhead {
    float: left;
    border-right: solid 2px #aaa;
    padding-right: 10px;
    margin: 15px 0 10px 10px;
}
.spantop1 {
    font-size: 13px;
}
.colerblue {
    color: #44494D;
}
.spantop {
    font-weight: 700;
    font-size: 14px;
}
.trackingItem h2 {
    padding: 10px 0;
    border-bottom: dotted 2px #E03;
    color: #E03;
    display: inline-block;
    width: 100%;
}
.div-qt {
    margin-left: 25px;
    font-weight: 600;
}
#trackingContent a {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.ClassLiive {
    color: #44494D;
    font-weight: 700;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
