.form-filter{
	margin-bottom: 20px;
}
.form-filter form{
	display: flex;
	justify-content: space-between;
	margin-left: -5px;
	margin-right: -5px;
}
.form-filter form > span{
	width: 30% !important;
	display: block;
	padding: 0px 5px;
	border-radius: 0px;
	height: 30px;
	line-height: 40px;
}
.form-filter form > input{
	width: 30% !important;
	border-radius: 0px;
	border: 1px solid #aaa;
	height: 30px;
	padding-left: 10px;
	font-size: 14px;
}
.select2-container--default .select2-selection--single{
	border-radius: 0px;
	height: 100%;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	right: 7px;
	top: 2px;
}
.form-filter form > button{
	padding: 0px 5px;
	height: 30px;
	border-radius: 0px;
	margin-left: 5px;
	border: none;
	background-color: #ccc;
	font-size: 14px;
	width: 90px;
}

.normal-item {
	display: flex;
	justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.normal-item > div:first-child{
	width: 40%;
}
.normal-item > div.box-img img{
	max-height: 200px;
}
.normal-item > div:nth-child(2){
	width: 60%;

}
.normal-item > div.content{
	padding-left: 15px;
}
.normal-item > div.content .title{
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	margin-bottom: 5px;
}
.normal-item > div.content a{
	color: #000;
}
.normal-item > div.content .date{
	color: #888;
	font-size: 13px;
}
.normal-item > div.content .description{
	text-align: justify;
}
.normal-item > div.content a.readmore{
	display: flex;
	justify-content: flex-end;
}
.first-item{
	position: relative;
	margin-bottom: 30px;
}
.first-item .content{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,0.8435749299719888) 0%, rgba(0,0,0,0) 100%);
}
.first-item .content > div{
	padding: 10px 20px;
	color: #fff;
}
.first-item .content > div a{
	color: #fff;
}
.first-item .thumb{
	height: auto;
}
.first-item .content .title{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}
.banner-tuyendung{
	height: 35vh;
	position: relative;
	overflow: hidden;
	background-image: url('../images/tuyendung/bn1.jpg');
	background-position: center;
	background-size: 100%;
	margin-bottom: 20px;
}
.banner-tuyendung > .content{
	position: absolute;
	top: 20px;
	left: 20px;
	width: 320px;
	background-color: rgba(238,0,51,0.9);
	padding: 20px;
	color: #fff;
}
.banner-tuyendung > .content p:nth-child(1) {
	font-weight: bold;
	font-size: 18px;
}
.banner-tuyendung > .content p:nth-child(2) {
	margin-bottom: 5px;
}
.main-content{

}
.sidebar-title{
	background-color: rgba(238,0,51,0.9);
	color: #fff;
	font-size: 20px;
	padding: 10px 20px;
	text-transform: uppercase;
}
.sidebar-item{
	margin-bottom: 30px;
}
.sidebar-item .title{
	margin-bottom: 5px;
	font-weight: bold;
	line-height: 20px;
	margin-top: 5px;
	color: #000;
}
.sidebar-item .date{
	font-size: 14px;
	color: #999;
}
.sidebar-item a{
	color: #000;
}