.container-fluid{
    width: 84%
}
.title-48 h3{
    font-size: 48px;
    font-weight: 700;
}
.title-44 h3{
    font-size: 44px;
    font-weight: 700;
}
.title-40 h3{
    font-size: 40px;
    font-weight: 700;
}
.title-24 h3{
    font-size: 24px;
    font-weight: 700;
}
.title-20 h3{
    font-size: 20px;
    font-weight: 700;
}
.bg-f5{
    background-color: #F5F5F5
}
.thumb-100 img{
    width: 100%
}
.border-top-radius{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.item-post .title{
    font-size: 16px;
    font-weight: 700;
    color: #26292B;
    display: block;
}
.item-post.xl .title{
    font-size: 36px;
}
.item-post p{
    font-size: 14px;
}
.item-post.xl p{
    font-size: 22px;
    line-height: 32px;
}
.text-more{
    color: #183051;
    font-size: 12px;
}
.text-more.xl{
    font-size: 18px;
}
.text-link-red{
    color: #183051;
    font-weight: 700;
    font-size: 20px;
    display: block;
}
.card-transform{
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 16px rgba(210, 210, 210, 0.58);
}
.tab-control li{
    display: block;
    padding: 0px 35px;
}
.tab-control li a{
    display: block;
    padding: 5px 0;
    line-height: 2.5;
    color: #44494D;
}
.tab-control li a .txt{
    font-size: 19px;
    display: block;
    font-weight: 500;
}
.tab-control li a .icon{
    border-radius: 50px;
    padding: 20px;
    display: inline-flex;
    background-color: #F7F7F7;
    width: 64px;
    height: 64px;
}
.tab-control li a svg{
    transform: translate(0px, 7px);
    margin-right: 5px;
}
.tab-control li:hover a,.tab-control li.active a,.tab-control li:focus a{
    color: #183051;
    border-bottom: 1.5px solid #183051;
}
.tab-control.none-border-b li:hover a,.tab-control.none-border-b li.active a,.tab-control.none-border-b li:focus a{
    color: #183051;
    border-bottom: none;
}
.tab-control li.active a .txt{
    font-size: 20px;
    font-weight: 700;
}
.tab-control li.active a .icon{
    background-color: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(210, 210, 210, 0.58);
    width: 88px;
    height: 88px;
}
.tab-control li:hover svg path,.tab-control li.active svg path,.tab-control li:focus svg path{
    fill: #183051;
}
#bar_border::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    height: 8px;
    background: #eee;
    bottom: -6px;
    border-radius: 6px;
    z-index: 0;
}
#bar_border .prog{
    position: absolute;
    bottom: -6px;
    height: 8px;
    border-radius: 6px;
    width: 20%;
    left: 0;
    background: #183051;
    transition: width ease .5s;
    z-index: 1;
}
.step-line li{
    display: flex;
    margin-bottom: 40px;
}
.step-line .number{
    background: #F2F2F2;
    border-radius: 50%;
    height: 39px;
    width: 39px;
    display: block;
    line-height: 2;
    text-align: center;
}
.step-line .entry{
    width: calc(100% - 39px);
    padding-left: 15px;
}
.step-line .entry h4{
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}
.step-line .entry h5{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.tab-content > div{
    display: none;
}
.f-18{
    font-size: 18px;
}
.min-height-255{
    min-height: 255px;
}
.carousel{
    position: relative;
}
.item-partner img{
    object-fit: none;
    max-width: 100%;
}
.grid-box{
    display: flex;
    justify-content: space-between;
    grid-gap: 20px;
}
.grid-box .item{
    width: 20%;
}
.box-radius1 .item{
    box-shadow: 0px 2px 16px rgba(210, 210, 210, 0.58);
    border-radius: 32px 32px 4px 4px;
}
.box-radius1 .item .head{
    height: 72px;
    border-radius: 32px 32px 0px 0px;
}
.box-radius1 .item .head h4{
    font-size: 24px;
    color: #fff;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: 8px;
}
.box-radius1 .item h5{
    font-size: 16px;
    font-weight: 500;
}
.box-radius1 .item p{
    font-size: 15px;
}
#sidebar_ping .list-group-item.head{
    background-color: #FFF6F9;
    border-color: #DDDDDD;
    color: #183051;
    font-weight: 700;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
}
#sidebar_ping .list-group-item.head::after{
    content: '\25BC';
    display: block;
}
#sidebar_ping .list-group-item.active{
    background-color: #fff;
    border-color: #fff;
    color: #183051;
    font-weight: 500;
    border-left-color: rgba(0, 0, 0, 0.125);
    border-right-color: rgba(0, 0, 0, 0.125);
}
#sidebar_ping .list-group-item:last-child.active {
    border-bottom-color: rgba(0, 0, 0, 0.125);
}
#sidebar_ping .list-group-item{
    border-top: none
}
.content-detail{
    display: none;
}
.content-detail.active{
    display: block;
}
.line-bot::after{
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background: #183051;
    border-radius: 6px;
    margin-top: 10px;
}
.text-center .line-bot::after{
    margin-left: auto;
    margin-right: auto;
}
#carousel_partner .owl-prev,#carousel_partner .owl-next{
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.22);
    border-radius: 50%;
    width: 56px;
    height: 56px;
    color: #183051;
    position: absolute;
    top: calc(50% - 27px);
    font-size: 20px;
    visibility: hidden;
}
#carousel_partner:hover .owl-prev,#carousel_partner:hover .owl-next{
    visibility: visible;
}
#carousel_partner .owl-prev{
    left: -20px;
}
#carousel_partner .owl-next{
    right: -20px;
}
#carousel_partner .owl-prev::before{
    content: '\f053';
    font-family: FontAwesome;
}
#carousel_partner .owl-next::before{
    content: '\f054';
    font-family: FontAwesome;
}
#carousel_partner.owl-carousel .owl-stage-outer{
    height: 160px!important
}
#carousel_partner.owl-carousel .owl-stage{
    height: 100%;
    display: flex;
    align-items: center;
}
.h-95{
    height: 95px
}
.owl-prev:focus,.owl-next:focus{
    outline: none;
}
.bg-light{
    background-image: url(../images/bg-light.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-radian{
    background-image: url(../images/bg-rad.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
